{:paths ["src"]
 :deps {instaparse
        {:mvn/version "1.4.10"}
        meander/epsilon
        {:mvn/version "0.0.480"}
        io.replikativ/datahike
        {:mvn/version "0.3.1"}}
 :aliases
 {:dang-socket
  {:jvm-opts
   ["-Dclojure.server.repl={:port,5575,:accept,dang.main/server}"]}}}